body {
    color: whitesmoke;
    background: grey
}
.header {
    font-weight: bolder;
    margin-top: 10px;
    height: 80px;
    font-size: 55px;
    border-radius: 50;
}
    .scoreBox {
    margin-top:20px; 
    height: 80px;
}
.gem{
    width: 80px;
    margin-top: 20px;
}